
.checkout-page{
   margin-top: 40px;

}
.checkout-top-content{
   display: flex;
   gap: 40px;
   justify-content: space-between;
}
.checkout-top-left{
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
   padding: 8px 26px;
   width: 50%;
}
.check-sub-title{
   font-size: 14px;
}
.payment-select-div{
   display: flex;
   align-items: center;
   gap: 14px;
}
.payment-select-div img{
    width: 90px;
}
.check-out-form{
   display: flex;
   flex-direction: column;
   gap: 10px;
   margin-top: 40px;
}
.check-out-form input{
   padding: 8px;
   border: 1px solid #D9D9D9;
   border-radius: 4px;
}
.check-out-form label{
   font-size: 14px;
}
.expire-div{
   display: flex;
   gap: 16px;

}
.expire-div-1{
   display: flex;
   flex-direction: column;
   gap: 10px;
}
.check-div{
   display: flex;
   gap: 10px;
}
.confirm-btn{
   background: #2f2483;
   color: #fff;
   border: none;
   padding: 12px ;
   border-radius: 4px;
   margin-bottom: 20px;
}
.checkout-top-right{
   background: #efedfe;
   width: 35%;
   padding: 8px 24px;
   border-radius: 8px;
   height: 450px;
}
.course-price-div{
   display: flex;
   gap: 12px;
   border-bottom: 1px solid #5B5B5B;
   padding: 12px 0px;
}
.course-img-wrp{
    position: relative;
    width: 120px;
    height: 70px;
}
.course-play-btn{
   position: absolute;
   left: 50%;
   top: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: none;
}
.play-cs-icon{
   color: #2f2483;
   font-size: 10px;
}
.course-img-wrp img{
   width: 100%;
   height: 100%;
   border-radius: 8px;
}
.course-det-wrp{
   display: flex;
  flex-direction: column;
  justify-content: space-between;

  font-family: "Roboto",sans-serif;
}
.intro{
   font-size: 14px;
  
}
.desc{
   color: #5B5B5B;
   font-size: 14px;
}
.sub-total{
   display: flex;
   justify-content: space-between;
   padding: 12px 0px;
   border-bottom: 1px solid #5B5B5B;
   color: #5B5B5B;
}
.total-price{
  display: flex;
   justify-content: space-between;
   padding: 12px 0px;
   border-bottom: 1px solid #5B5B5B;
  
}
.checkout-bottom-content{
 padding: 50px 0px;
}
