.fill-up-container{
    display: flex;
    font-family: 'Roboto';
    gap: 20px;
    padding: 40px;
}
.fill-up-left{
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.top-arr-bnt{
    background: #2f2483;
    padding: 4px;
    width: 30px;
    border: none;
}
.top-arr-bnt img{
    width: 16px;
}
.lesson-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background: #2f2483; */
    color: #2F2483;
    padding:  16px;
    border-radius: 8px;
}
.purple-col-div{
    background: #2f2483;
    color: #ffff;
}
.yellow-div{
    background: #fcddb5;
}
.peach-div{
    background: #e2f0ff;
}
.pink-div{
    background: #fad1ce;
}
.fill-up-right{
   width: 70%;
   background: #efedff;
}
.fill-right-head{
    background: #2F2483;
    color: #ffff;
    padding: 12px 24px;
}
.head-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.clock-i-wr{
    display: flex;
    align-items: center;
    gap: 4px;
}
.clock-i-wr img{
    width: 15px;
   
}
.fill-up-right-body{
    padding: 12px 24px;
}
.over-p{
    color: #696984;
}
.fill-up-form{
    background: #fff;
    padding: 28px 16px;
    display: flex;
    flex-direction: column;
  gap: 14px;
  margin-top: 40px;
}
.fill-up-form input,select{
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    padding: 8px;
}
.time-input-div{
    display: flex;
    gap: 20px;
   align-items: center;
   justify-content: space-between;
   
}

.time-input-div-1{
     display: flex;
    flex-direction: column;
  gap: 12px;
 
  width: 100%;
}
.fill-up-btn{
    background: #2F2483;
    padding: 12px 28px;
    border: none;
    color: #fff;
    width: 20%;
     border-radius: 4px;
     display: block;
     margin-left: auto;
     margin-top: 40px;
}