.online_class_wrapper {
    padding-bottom: 50px;
}

.online_class_content_wrapper {
    display: flex;
    justify-content: space-between;

}

.online_class_left {
    width: 70%;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    height: fit-content;
}

.online_class_right {
    width: 28%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;

}

.online_class_box {
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
}

.online_class_right h2 {
    font-weight: 500;
}

.next_button_456 {
    padding: 10px 8px;
    background-color: #2F2484;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
}

.next_button_456 img {
    width: 20px;
}

.understanding_wrapper {
    width: calc(100% - 70px);
    background-color: #fff;
    height: fit-content;
    padding: 20px 20px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.online_class_left p {
    font-size: 14px;
    color: #252641;
}

.understanding_wrapper i {
    font-size: 30px;
    color: #53557b;
}

.understanding_content {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.understanding_content h2 {
    word-spacing: 2px;
    font-weight: 500;
}

.video_wrapper777 {
    width: 100%;
    height: fit-content;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    padding: 30px;
}

.video_wrapper777 .video_img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video_wrapper_content_wrapper {
    width: 100%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    row-gap: 12px;
    position: relative;
    z-index: 999;
}

.video_wrapper_content_wrapper img {
    border: 3px solid #fff;
    border-radius: 15px;
    width: 150px;
    object-fit: cover;
}

.video_controls_wrapper {
    position: relative;
    z-index: 9999;
    background-color: #E6F2FF;
    border-radius: 20px;
    padding: 25px 0;
    display: flex;
    box-shadow: 0px 4px 4px 0px #00000034;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 150px;
}

.video_controls_wrapper img {
    width: 50px;
    height: 50px;
    padding: 5px 8px;
    object-fit: contain;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
}

.steps_wrapper {
    margin-top: 10px;
}

.steps_heading_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.online_class_right h2 {
    font-size: 25px;
}

.steps_heading_wrapper p {
    font-size: 12px;
    font-weight: 600;
}

.steps_heading_wrapper i {
    font-size: 18px;
}

.steps_progress_Wrapper {
    display: flex;
    gap: 2px;
    margin-top: 10px;
}

.steps_progress {
    width: 19.5%;
    height: 3px;
    border-radius: 5px;
    background-color: #000;
}

.steps_progress:nth-child(3) {
    background-color: #9192b3;
}

.steps_progress:nth-child(4) {
    background-color: #9192b3;
}

.steps_progress:nth-child(5) {
    background-color: #9192b3;
}

.get_started_wrapper7888 {
    display: flex;
    row-gap: 10px;
    flex-direction: column;
    margin-top: 15px;
}

.get_started_div_wrapper {
    padding: 10px 20px;
    border: 1px solid #ABADE6;
    border-radius: 15px;
    /* display: flex;
    justify-content: space-between;  */
}

.get-started-up-content-wrp {
    display: flex;
    justify-content: space-between;

}

.get_started_content_Wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.get_started_content_Wrapper small {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 3px;
    font-size: 12px;
    color: #54567c;
    font-weight: 500;
}

.get_icon_wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 5px;

}

.get_started_content_Wrapper p {
    font-size: 14px;
    color: #000;
    font-weight: 500;
}

.get_started_div_wrapper small {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 3px;
    font-size: 12px;
    color: #54567c;
    font-weight: 500;
}

.get_icon_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    column-gap: 5px;
}

.get_icon_wrapper i {
    margin-left: auto;
    font-size: 13px;
}

.online_class_box h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

.online_class_box h2 i {
    font-size: 18px;
    color: #000;
}

.all_benefits_wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.all_benefits {
    width: 48%;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 1px #00000033;
    padding: 10px;
}

.all_benefits img {
    width: 100%;
    height: 100px;
    border-radius: 5px;
    object-fit: cover;
}

.all_benefits p {
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 5px;
}

.all_benefits h4 {
    font-size: 25px;
    text-align: center;
    color: #2F2484;
}

.get-lock-cont-wrp {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    padding-top: 14px;
    border-top: 1px solid #D9D9D9;
}

.get-lock-cont-wrp p {
    font-size: 12px;
    font-weight: 500;
    color: #252641;
}

.get-lock-cont-wrp p:nth-child(1) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
}

.unlock-div-wrp {
    display: flex;
    gap: 12px;
    align-items: center;
}

@media(max-width:1099px) {
    .online_class_content_wrapper {
        flex-direction: column;
        row-gap: 40px;
    }

    .online_class_left {
        width: 100%;
    }

    .online_class_right {
        width: 100%;
    }
}

@media(max-width:899px) {
    .video_wrapper_content_wrapper img {
        width: 100px;
    }
}

@media(max-width:699px) {
    .video_controls_wrapper img {
        width: 40px;
        height: 40px;
    }

    .video_controls_wrapper {
        padding: 10px;
        gap: 30px;
    }

    .understanding_content h2 {
        font-size: 20px;
    }

}

@media(max-width:599px) {
    .understanding_wrapper {
        width: 100%;
    }

    .video_wrapper_content_wrapper img {
        width: 80px;
    }
}

@media(max-width:450px) {
    .video_controls_wrapper img {
        width: 30px;
        height: 30px;
    }

    .video_controls_wrapper {
        padding: 10px;
        gap: 20px;
        border-radius: 10px;
    }

    .video_wrapper_content_wrapper img {
        width: 50px;
        border-radius: 10px;
    }

    .understanding_content h2 {
        font-size: 16px;
    }

    .understanding_wrapper i {
        font-size: 20px;
        color: #53557b;
    }
}

@media(max-width:350px) {
    .video_controls_wrapper {
        padding: 10px;
        gap: 15px;
        border-radius: 10px;
    }
}